<div class="sidebar">
    <div class="user-profile">
        <div class="user-avatar">
            <i class="fas fa-user"></i>
        </div>
        <div class="user-name">Avillian Aufa</div>
    </div>
    
    <ul class="nav-menu">
        <li class="nav-item">
            <a href="dashboard.html" class="nav-link" data-page="dashboard">
                <i class="fas fa-chart-line"></i>
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="approval-magang.html" class="nav-link" data-page="approval-magang">
                <i class="fas fa-check-circle"></i>
                Approval Magang
            </a>
        </li>
        <li class="nav-item">
            <a href="bimbingan.html" class="nav-link" data-page="bimbingan">
                <i class="fas fa-user-graduate"></i>
                Bimbingan
            </a>
        </li>
        <li class="nav-item">
            <a href="laporan-magang.html" class="nav-link" data-page="laporan-magang">
                <i class="fas fa-file-alt"></i>
                Laporan Magang
            </a>
        </li>
        <li class="nav-item">
            <a href="penilaian-magang.html" class="nav-link" data-page="penilaian-magang">
                <i class="fas fa-star"></i>
                Penilaian Magang
            </a>
        </li>
        <li class="nav-item">
            <a href="cetak-sertifikasi.html" class="nav-link" data-page="cetak-sertifikasi">
                <i class="fas fa-certificate"></i>
                Cetak Sertifikasi
            </a>
        </li>
        <li class="nav-item">
            <a href="view-data-prodi.html" class="nav-link" data-page="view-data-prodi">
                <i class="fas fa-users"></i>
                View Data Prodi
            </a>
        </li>
    </ul>
</div>